<div class="container adding">
    
    <h1>Add a movie !</h1>

    <form name="$ctrl.form" ng-submit="$ctrl.validate(file)">
        <div class="error" ng-show="$ctrl.error">{{$ctrl.error}}</div>
        <div class="form-group">
            <label for="title">{{'MOVIE_ADD.TITLE' | translate}}</label>
            <input class="form-control" id="title" type="text" ng-model="$ctrl.movie.title">
        </div>
        <div class="form-group">
            <label for="description">{{'MOVIE_ADD.DESCRIPTION' | translate}}</label>
            <textarea class="form-control" id="description" ng-model="$ctrl.movie.description"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="categories">{{'MOVIE_ADD.CATEGORY' | translate}}</label>
                    <select class="form-control" id="categories" ng-model="$ctrl.movie.categoryId" ng-options="category.id as category.name for category in $ctrl.categories">
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="year">{{'MOVIE_ADD.YEAR' | translate}}</label>
                    <input class="form-control" id="year" type="text" placeholder="Enter year only" ng-model="$ctrl.movie.year">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="realisator">{{'MOVIE_ADD.REALISATOR' | translate}}</label>
                    <input class="form-control" id="realisator" type="text" ng-model="$ctrl.movie.realisator">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="actor">{{'MOVIE_ADD.ACTOR' | translate}}</label>
                    <input class="form-control" id="actor" type="text" ng-model="$ctrl.movie.actor">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="image">{{'MOVIE_ADD.IMAGE' | translate}}</label>
                    <div id="image" class="button btn btn-primary" name="file" accept="image/*" ngf-pattern="'image/*'" ng-model="file" ngf-max-size="{{$ctrl.maxFileSize}}MB"
                        ngf-resize="{width: 1024, height: 1024}" ngf-select>
                        {{'MOVIE_ADD.SELECT' | translate}}
                    </div>
                    <div ngf-drop ng-model="file" class="drop-box">{{'MOVIE_ADD.DROP' | translate}}</div>
                    <i ng-show="$ctrl.form.file.$error.required">*required</i>
                    <br>
                    <i ng-show="$ctrl.form.file.$error.maxSize">{{'MOVIE_ADD.FILESIZE' | translate}} {{ file.size / 1000000 | number:1 }}MB: max {{$ctrl.maxFileSize}}MB</i>
                </div>
            </div>
            <div class="col-xs-6">
                <label for="preview">{{'MOVIE_ADD.PREVIEW' | translate}}</label>
                <img id="preview" ngf-thumbnail="file" />
                <p>{{$ctrl.progress}}</p>
            </div>
        </div>
        
        <button type="submit" class="btn btn-success">{{'BUTTON.SAVE' | translate}}</button>
        <button type="button" class="btn btn-default" ui-sref="main.movies">{{'BUTTON.CANCEL' | translate}}</button>
    </form>
</div>