<div id="footer">
    <div class="row">
        <div class="col-sm-5">
        </div>

        <div class="col-sm-2 social-section" id="logos">
            <div class="social-icons">
                <div id="linkedin">
                    <a href="https://www.linkedin.com/in/yan-kaletka">
                        <i class="fa fa-linkedin-square fa-5x"></i>
                    </a>
                </div>

                <div id="github">
                    <a href="https://www.github.com/yanoushka">
                        <i class="fa fa-github fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>